---
import desktopImage from "@assets/images/CTA/black-abstract-cta.jpg"
import { Picture } from 'astro:assets';
import { Image } from 'astro:assets';

---

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-52">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper text-white">LIMITED AVAILABILITY</span>
            <h2 class="cs-title">Book Your Free Restoration Marketing Strategy Session</h2>
            <p class="cs-text text-white font-bold">
                Get a customized growth plan for your restoration business. We'll analyze your market, identify untapped opportunities, and show you exactly how to outperform your competition. Remember - we only work with one restoration company per service area.
            </p>
            <a href="https://offer.remediationrestorationmarketing.com/schedule" class="cs-button-solid">Schedule a Strategy Call</a>
            <p class="text-white mt-2">*15-Minute Session | Zero Obligation | Custom Growth Plan Included</p>
        </div>
        <Picture class="cs-picture"
            src={desktopImage} 
            width="2250" 
            height="1500" 
            formats={['avif', 'webp']} 
            alt="A flooded basement that is in need of water restoration services."/>
        
    </div>
  </section>
                              

<style lang="less">
 /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-52 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            padding: var(--sectionPadding);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title, .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin: 0 0 (32/16rem) 0;
            opacity: .8;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* black color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.8;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
                                
</style>