---
import Picture from "astro/components/Picture.astro"
const { title, image } = Astro.props
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
import { Icon } from "astro-icon/components";
---

<section id="int-hero">
<h1 id="home-h">{title}</h1>
<div class="margin-bread">
<Breadcrumbs linkTextFormat="capitalized" id="my-breadcrumbs"> 
    <Icon height="10" width="10" name="chevron-right" slot="separator"/>
</Breadcrumbs>
</div>

<!-- standard <picture> attributes are supported. Set loading to lazy for assets below the fold -->
 <!-- Note: because we use the getImage function to generate an optimized image, we need to use special properties. More info on [the getImage() page](https://docs.astro.build/en/guides/images/#generating-images-with-getimage) -->
 <Picture 
    src={image.src}
    width={image.attributes.width}
    height={image.attributes.height}
    formats={['avif', 'webp']} 
    alt="A description of my image."
    aria-hidden="true" 
    decoding="async"
    alt="kitchen cabinets"
    loading="eager"
/>

</section>

<style lang="less">
    
    /*-- -------------------------- -->
    <---   Interior Page Header     -->
    <--- -------------------------- -*/
    
    /* Mobile */
    @media only screen and (min-width: 0em) {
        .margin-bread {
            margin-bottom: 5rem;
            margin-top: 1rem;
        }
        #int-hero {
            min-height: 30vh;
            padding-top: (50/4rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
    
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.7;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
    
            picture {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -2;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
    
            h1 {
                font-size: var(--headerFontSize);
                text-align: center;
                width: 96%;
                max-width: (500/16rem);
                margin: 0 auto;
                margin-top: (16/16rem);
                color: #fff;
                position: relative;
            }
    
            p {
                text-align: center;
                width: 96%;
                max-width: (400/16rem);
                margin: auto;
                margin-bottom: (30/16rem);
                color: #fff;
                display: block;
            }
        }
    }
    
    /* Small Desktop */
    @media only screen and (min-width: 64em) {
        #int-hero {
            height: auto;
            min-height: (300/16rem);
            padding-block-start: (100/16rem);
            background-attachment: fixed;
            padding-block-end: (100/16rem);            
        }

        h1 {
            margin-top: (160/16rem) !important;
            margin-bottom: 1rem !important;
        }
        .margin-bread {
            margin-bottom: 0rem;
        }
    }
</style>