<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->

<section id="quote-561">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Client Testimonial</span>
            <p class="cs-quote">
                “They are very committed to details, and kept asking if everything was the way we wanted as the project was ongoing. Great company, great guys, I highly recommend them.”
            </p>
            <span class="cs-name">Steven L.</span>
        </div>
    </div>
</section>
